.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.9rem;
}

.typewriter {
  height: 3rem;
  text-align: center;
}

.project-btn {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.project-btn:hover {
  background-color: orange;
}

.rm-fn {
  color: black !important;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .home {
    font-size: 1.5rem;
  }
}
