.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.9rem;
}

.typewriter {
  height: 3rem;
  text-align: center;
}

.project-btn {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px;
  box-shadow: var(--outer-shadow);
  font-size: 1.5rem;
}

.project-btn:hover {
  box-shadow: var(--inner-shadow);
}

.rm-fn {
  color: white !important;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .home {
    font-size: 1.5rem;
  }
}
